@charset "ISO-8859-1";
Body{
Background-image:url("/Users/admin/Desktop/IWT_1/src/images/exam1.jpg");
background-position: center; 
background-repeat: no-repeat;
background-size: cover;
height: 800px;
}
.quiz_box{
Margin:auto;
width: 50%;
background: #fff;
Border-radius: 10px
}

.quiz_box .question{
padding: 30px 30px 25px 30px;
Font-size: 22px;
border-bottom: 1px solid lightgrey;

}

.quiz_box .answer_list{
padding: 20px 30px 30px 30px;
Font-size: 20px;
}

.quiz_box .answer_list .answer{
Background: #F0FFFF;
Border: 1px solid;
Border-color: #89CFF0;
Border-radius: 10px;
Padding: 10px 20px;
Cursor: pointer;
border-bottom: 1px solid lightgrey;
}

.quiz_box .end .buttons{
height: 80px;
display: flex;
align-items: center;
justify-content: center;
padding 0 40px;
border-top: 1px solid lightgrey;
}

.quiz_box .end .buttons button{
Margin: 0 5px;
Height: 40px;
Width: 100px;
Border: 1px solid #007bff;;
Color:#FF0;
Font-size: 16px;
Font-weight: 500px;
Border-radius: 8px;

}
.buttons button.next_question:hover{
Background: #007bff;
color: #fff
}


